// Primary Color
$l-red: hsl(356, 100%, 66%);
$vl-red: hsl(355, 100%, 74%);
$vd-blue: hsl(208, 49%, 24%);

// Neutral Color
$white: hsl(0, 0%, 100%);
$g-blue: hsl(240, 2%, 79%);
$vdg-blue: hsl(207, 13%, 34%);
$vdb-blue: hsl(240, 10%, 16%);

// Background Gradient
$grad-vl-red: hsl(13, 100%, 72%);
$grad-l-red: hsl(353, 100%, 62%);

$grad-vdg-blue: hsl(237, 17%, 21%);
$grad-vdb-blue: hsl(237, 23%, 32%);